<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" >
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Demo Administración y Mantenimiento de Sistemas</title>
    </head>
    <body>
        <h2>Universidad del Valle de Guatemala</h2>
        <h2>Administración y Mantenimiento de Sistemas</h2>
        <h3>Catedrático: Alexander Bolaños Lima</h3>
        <h4>Días: Lunes y Miércoles 05:20 pm</h4>
        <hr>
        <h3>HOLA MUNDO DE LA INFRASTRUCTURA GCP</h3>
        <img src="https://lh3.googleusercontent.com/drive-viewer/AJc5JmR-Vsqgz3o2HLRcFBlUPs3kxIRHcx2_xAsKIPT_3u76x5p1sgIo8VGhb7ccZ4XdEqziwDbd4WA=w1920-h830" />
    </body>
</html>